.main__sectionPortada h1 {
    font-size: 2.8rem;
}

.main__sectionProductos div{
    min-width: 45%;
}

.main__sectionProductos {
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* .container__cards {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 930px;
}

.section2__cards {
    width: 400px;
} */

/* **************PAGE PRODUCTOS*************** */


.productosH2 {
    margin: 20px;
}

.main__sectionProductosP article {
    width: 20%;
    height: 30vw;
    margin: 15px;
}

